:root, [data-bs-theme=light] {
  --bs-body-bg: rgba(255,255,255,0);
  --bs-body-bg-rgb: 255,255,255,0;
}

[data-bs-theme=dark] {
  --bs-dark: #212529;
  --bs-dark-rgb: 33,37,41;
  --bs-dark-text-emphasis: #7A7C7F;
  --bs-dark-bg-subtle: #070708;
  --bs-dark-border-subtle: #141619;
  --bs-body-bg: #283440;
  --bs-body-bg-rgb: 40,52,64;
}

[data-bs-theme=dark] .btn-dark, .btn-dark[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1C1F23;
  --bs-btn-hover-border-color: #1A1E21;
  --bs-btn-focus-shadow-rgb: 222,222,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1A1E21;
  --bs-btn-active-border-color: #191C1F;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}

[data-bs-theme=dark] .btn-outline-dark, .btn-outline-dark[data-bs-theme=dark] {
  --bs-btn-color: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-focus-shadow-rgb: 33,37,41;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #212529;
  --bs-btn-hover-border-color: #212529;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #212529;
  --bs-btn-active-border-color: #212529;
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #212529;
}

.mt-0 {
  margin-top: 0!important;
}

.mt-1 {
  margin-top: .25rem!important;
}

.mt-3 {
  margin-top: 1rem!important;
}

.mt-4 {
  margin-top: 1.5rem!important;
}

.me-0 {
  margin-right: 0!important;
}

.me-3 {
  margin-right: 1rem!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mb-1 {
  margin-bottom: .25rem!important;
}

.mb-2 {
  margin-bottom: .5rem!important;
}

.mb-3 {
  margin-bottom: 1rem!important;
}

.mb-4 {
  margin-bottom: 1.5rem!important;
}

.mb-6 {
  margin-bottom: 4.5rem !important;
}

.ms-0 {
  margin-left: 0!important;
}

.py-4 {
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
}

.pt-0 {
  padding-top: 0!important;
}

.pt-2 {
  padding-top: .5rem!important;
}

.pt-3 {
  padding-top: 1rem!important;
}

.pt-4 {
  padding-top: 1.5rem!important;
}

.pt-6 {
  padding-top: 4.5rem !important;
}

.pe-0 {
  padding-right: 0!important;
}

.pe-4 {
  padding-right: 1.5rem!important;
}

.pe-5 {
  padding-right: 3rem!important;
}

.pb-0 {
  padding-bottom: 0!important;
}

.ps-0 {
  padding-left: 0!important;
}

.ps-4 {
  padding-left: 1.5rem!important;
}

@media (min-width:576px) {
  .me-sm-0 {
    margin-right: 0!important;
  }
}

@media (min-width:576px) {
  .pe-sm-5 {
    padding-right: 3rem!important;
  }
}

@media (min-width:992px) {
  .px-lg-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
  }
}

@media (min-width:992px) {
  .py-lg-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
}

@media (min-width:1200px) {
  .me-xl-0 {
    margin-right: 0!important;
  }
}

@media (min-width:1200px) {
  .py-xl-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
}

@media (min-width:1200px) {
  .pe-xl-4 {
    padding-right: 1.5rem!important;
  }
}

@media (min-width:1400px) {
  .me-xxl-0 {
    margin-right: 0!important;
  }
}

