.float-area {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.floating-img {
  transform: translateY(-10%);
  animation: floater 20s infinite;
  transition: ease 1s;
  width: 220px;
  height: 340px;
}

@keyframes floater {
  0% {
    transform: translateY(-10%);
    transition: ease 5s;
  }
  50% {
    transform: translateY(10%);
    /*transition: ease 5s;*/
  }
}

