.mcbutton {
  background: url("../../assets/img/button.png") center / contain no-repeat;
  font-family: Minecraftia;
  border-style: none;
  position: relative;
  filter: blur(0px);
  --bs-body-font-weight: normal;
  height: 46px;
  width: auto;
  max-width: 353.5px;
  min-width: 328px;
  overflow: hidden;
  opacity: 1;
  backdrop-filter: opacity(0);
  -webkit-backdrop-filter: opacity(0);
  text-shadow: 1px 2px var(--bs-black);
}

.smallmcbutton {
  margin-top: 11px;
  width: 163.5px;
  margin-right: -8px;
  margin-left: -7px;
  background: url("../../assets/img/smallbutton.png") center / contain no-repeat, rgba(10,88,202,0);
  height: 36px;
  font-family: Minecraftia;
  transform: scale(0.98);
  text-shadow: 1px 2px var(--bs-emphasis-color);
  border-style: none;
  border-color: rgba(255,255,255,0);
  border-top-left-radius: 0;
}

.smallmcbutton:hover {
  background: url("../../assets/img/smallbutton_highlighted.png") center / contain no-repeat, var(--bs-primary);
  border-style: none;
  border-color: rgba(255,255,255,0);
  --bs-primary: rgba(13,110,253,0);
  --bs-primary-rgb: 13,110,253;
  transition: ease;
}

